<%= form_with(model: post, local: true) do |form| %>
  <div class="mb-3">
    <%= form.label :投稿記事, class: "form-label" %>
    <%= form.text_area :posted_article, class: "form-control", rows: 3 %>
  </div>

  <div class="mb-3">
    <%= form.label :タグリスト, class: "form-label" %>
    <%= form.text_field :tag_list, class: "form-control", placeholder: "タグ1, タグ2, タグ3", rows: 2 %>
  </div>

  <div class="mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <%= form.hidden_field :genre_id, value: @genre.id %>

  <div class="d-grid">
    <%= form.submit "新規作成", class: "btn btn-success" %>
  </div>
<% end %>

<% if flash.now[:alert_details].present? %>
  <p class="alert alert-danger"><%= flash.now[:alert_details] %></p>
<% end %>

<%= debug @post %>