<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="text-left">
      <% if current_admin %>
        <%= link_to admin_root_path, class: "navbar-brand" do %>
          <h2><span>TriviaCommunity</span></h2>
        <% end %>
      <% else %>
        <%= link_to admin_root_path, class: "navbar-brand" do %>
          <h2><span>TriviaCommunity</span></h2>
        <% end %>
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto d-flex justify-content-end">
        <% if current_admin %>
          <li class="nav-item">
            <%= link_to admin_root_path, class: "nav-link text-light" do %>
              <i class="fas fa-users" aria-hidden="true"></i> 会員一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_genres_path, class: "nav-link text-light" do %>
              <i class="fas fa-book"></i> ジャンル一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
              <i class="fas fa-sign-out-alt"></i> ログアウト
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to admin_genres_path, class: "nav-link text-light" do %>
              <i class="fas fa-book"></i> ジャンル一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_users_path, class: "nav-link text-light" do %>
              <i class="fas fa-users" aria-hidden="true"></i> 会員一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_admin_session_path, class: "nav-link text-light" do %>
              <i class="fas fa-sign-in-alt"></i> ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
