<!-- app/views/public/users/show.html.erb -->

<%= render partial: 'public/shared/header' %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">マイページ</h2>

          <div class="text-center">
            <p class="h5"><strong>ユーザーネーム:</strong> <%= @user.name %></p>
            <p class="h5"><strong>メールアドレス:</strong> <%= @user.email %></p>
          </div>

          <div class="text-center mt-4">
            <%= link_to '編集', edit_user_path(@user), class: 'btn btn-success', style: 'width: 130px;' %>
          </div>

          <hr>

          <h4 class="text-center mb-3">いいね登録一覧</h4>

          <% if @favorites.present? && @favorites.any? %>
            <ul class="list-group">
              <% @favorites.each do |favorite| %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p><%= link_to truncate(favorite.post.posted_article, length: 30), public_post_path(favorite.post), class: 'text-dark' %></p> <!-- 投稿内容を表示 -->
                  <span class="badge badge-info badge-pill"><%= favorite.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="text-center mt-3">いいね登録はありません。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
